# This is an example of what a config file may look like.
# Place this in ~/.nebula/config and nebula-cli will pick it up automatically

[platform]
url=nebula.company.com
auth=true

[credentials]
discovery_endpoint=http://corp.idp.com/.well-known/oauth-authorization-server
client_id=123abc123
redirect_uri=http://localhost:53593/callback
